html {
  touch-action: manipulation;
  background-color: var(--background-color);
  translate: none;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/*色の定義*/
:root {
  --main-color: #a4bfda;
  --sub-color: #659dc0;
  --text-color: #40403e;
  --shadow-color: rgba(208, 216, 218, 0.6);
  --background-color: #f0f2f1;
}
/*黒くする*/
#overlay {
  display: none; /* 最初は非表示 */
  position: fixed; /* 画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
  z-index: 10; /* 他の要素より前面に表示 */
}

/*見え隠れ*/
.home {
  display: none;
}
.home.open {
  display: block;
}
.record {
  display: none;
}
.record.open {
  display: block;
}
.memo {
  display: none;
}
.memo.open {
  display: block;
}
.setting {
  display: none;
}
.setting.open {
  display: block;
}

/*header*/
.header {
  margin: 0;
  background-color: var(--main-color);
  height: 5svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1svh;
  color: var(--text-color);
}

/*footer*/
.footer {
  margin: 0;
  padding: 0;
  display: flex;
  height: 5svh;
  width: 100%;
  background-color: var(--shadow-color);
}
.footer .material-icons {
  color: var(--text-color);
  padding: 0.8svh;
  max-height: 5svh;
  width: 25vw;
  font-size: 3.4svh;
}
.footer .material-icons.open {
  background-color: var(--shadow-color);
}

/*home*/
.home {
  height: 90svh;
  overflow: scroll;
}
.scoreTable {
  width: 95vw;
  font-size: 15px;
  margin: 1lh 2vw 0 3vw;
  padding: 0;
  color: var(--text-color);
  border-color: var(--text-color);
  border-spacing: 3px;
}
.scoreTable th {
  font-size: 10px;
}
.scoreTable td {
  padding: 0;
  height: 1lh;
  width: 9vw;
  font-size: 1em;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
}
.scoreTable .scoreSum {
  width: 15vw;
}
.selectBox {
  width: 13vw;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.selectBox::after {
  position: absolute;
  right: 8px;
  width: 8px;
  height: 5px;
  background-color: var(--text-color);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.selectBox select {
  appearance: none;
  width: 13vw;
  font-size: 10px;
  border: none;
  border-bottom: 1.5px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.selectBox select:focus {
  outline: none;
}
#saveCheckWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
  width: 60vw;
  margin: 40svh 20vw;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: 10px;
  z-index: 11;
}
#saveCheckWindow button {
  margin: 0 30px;
  padding: 0 10px;
  height: 5svh;
  font-size: 15px;
  color: var(--background-color);
  background-color: var(--main-color);
}
#addTableWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
  width: 60vw;
  margin: 40svh 20vw;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: 10px;
  z-index: 11;
}
#addTableWindow button {
  margin: 0 30px;
  padding: 0 10px;
  height: 5svh;
  font-size: 15px;
  color: var(--background-color);
  background-color: var(--main-color);
}
.home .addButton {
  color: var(--text-color);
  background-color: var(--background-color);
  position: absolute;
  top: 5svh;
  right: 2vw;
  font-size: 10px;
  height: 1.5lh;
  width: 15vw;
  border-radius: 100px;
  box-shadow: none;
}
.home button {
  margin: 0.25vw;
  height: 8.5svh;
  width: 31vw;
  font-size: 30px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  box-shadow: 2px 2px var(--shadow-color);
}
.home .yellow {
  background-color: yellow;
  color: var(--text-color);
}
.home .red {
  background-color: red;
  color: var(--text-color);
}
.home .blue {
  background-color: blue;
  color: var(--background-color);
}
.home .black {
  background-color: black;
  color: var(--background-color);
}
.home .white {
  background-color: white;
  color: var(--text-color);
}
.home .gray {
  background-color: gray;
  color: var(--text-color);
}
.home .scoreRemove {
  position: absolute;
  bottom: 7svh;
  right: 3vw;
  padding: 10px 11px 10px 9px;
  border-radius: 100%;
  color: var(--text-color);
  background-color: var(--main-color);
}

/*record*/

.record {
  height: 90svh;
  overflow: scroll;
}
.recordHeader {
  color: var(--text-color);
  padding: 0.5svh 0;
  display: flex;
}
.recordHeader p {
  margin: 0;
  padding: 0;
  width: 75vw;
  align-items: center;
  justify-content: center;
}
.recordDateInput {
  width: 25vw;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.recordDateInput::after {
  position: absolute;
  right: 4px;
  width: 8px;
  height: 5px;
  background-color: var(--text-color);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.recordDateInput select {
  appearance: none;
  width: 25vw;
  font-size: 10px;
  border: none;
  border-bottom: 1.5px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.recordDateInput select:focus {
  outline: none;
}

.recordTab {
  display: flex;
  flex-wrap: wrap;
}

.recordTab label {
  flex: 1 1;
  order: -1;
  width: 20vw;
  padding: 0.7em 1em 0.5em;
  border-bottom: 1px solid var(--shadow-color);
  border-radius: 0;
  background-color: var(--shadow-color);
  color: var(--text-color);
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
}

.recordTab label:hover {
  opacity: 0.8;
}

.recordTab input {
  display: none;
}

.recordTab .scoreTableTab {
  display: none;
  width: 100%;
  background-color: var(--background-color);
}

.recordTab label:has(:checked) {
  background-color: var(--background-color);
  border-color: var(--main-color) var(--shadow-color) var(--background-color);
  border-style: solid;
  border-width: 4px 1px 1px;
  border-radius: 5px;
  color: var(--text-color);
}

.recordTab label:has(:checked) + div {
  display: block;
}
.record .scoreTable {
  margin: 0 2vw 1svh 3vw;
}

.toggleSwitch input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
}

.toggleSwitch label {
  width: 36px;
  height: 20px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px var(--shadow-color);
    transition: 0.4s;
  }
}

.toggleSwitch input:checked {
  + label {
    background-color: var(--sub-color);
    &:after {
      left: 18px;
    }
  }
}

.toggleSwitch {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 2px 3vw;
}

/*memo*/

.memo {
  height: 90svh;
  overflow: scroll;
}

.memo input {
  width: 85vw;
  margin: 2svh 0 0 0;
  padding: 0.5em;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  box-shadow: 2px 2px var(--shadow-color);
}
.memo input:focus {
  outline: none;
}
.memo .memoList {
  margin: 0 5vw;
  padding: 0;
}
.memo .memoItem {
  width: 90vw;
  margin: 2svh 0;
  padding: 0.5em 0;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  box-shadow: 2px 2px var(--shadow-color);
}
.memo .memoItem.checked {
  color: var(--background-color);
  background-color: var(--shadow-color);
}
/*setting*/
.setting {
  color: var(--text-color);
  height: 90svh;
  overflow: scroll;
}
